{% extends "base.html" %}
    
{%block title%} {{block.super}} chi siamo {%endblock title%}

{%block content%}
    <h1> Chi siamo? </h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>
        Nunc hendrerit sapien eu volutpat dapibus. Suspendisse pulvinar nisl non aliquet pellentesque. <br>
        Suspendisse nisi eros, rhoncus sit amet dui vitae, convallis ornare mauris.<br>
        Sed pretium arcu at interdum fringilla. Etiam non massa sit amet nisi ultricies pharetra.
    </p>
{%endblock content%}