{% extends 'base.html'%}
{% block title%}
    Index
{%endblock title%}
{%block content%}
    <h4>Index:</h4>
    <p>Benvenuti nella pagina principale del sito</p>
    <ol>
        <li><a href="{% url 'eventi_culturali:query_a'%}">Lista degli eventi</a></li>
        <li><a href="{% url 'eventi_culturali:query_b'%}">Visione dettagliata degli eventi</a></li>
        <li><a href="{% url 'eventi_culturali:query_c'%}">Eventi che iniziano dopo il </a></li>
        <li><a href="{% url 'eventi_culturali:query_d'%}">Eventi con meno di 80 posti disponibili </a></li>
        <li><a href="{% url 'eventi_culturali:query_e'%}">Eventi che terminano entro il 31/05/2025 </a></li>
        <li><a href="{% url 'eventi_culturali:query_f'%}">Visualizzazione statistiche </a></li>
    </ol>
{%endblock content%}