{% extends 'base.html'%}
{% block title%}
    VIEW_B
{%endblock title%}
{%block content%}
<h1>Eventi che iniziano dopo il 01/06/2025:</h1>
    {% for evento in eventi %}
    <p><strong>Titolo: </strong>{{evento.titolo }}</p>
    <p><strong>Descrizione: </strong>{{evento.descrizione }}</p>
    <p><strong>Data Inizio: </strong>{{evento.data_inizio }}</p>
    <p><strong>Data Fine: </strong>{{evento.data_fine }}</p>
    <p><strong>Posti Disponibili: </strong>{{evento.posti_disponibili }}</p>

    <hr>
    {%endfor%}

{%endblock content%}