{%extends 'base.html'%}

{% block title %}
    {{ a }}
{% endblock title %}

{% block content %}
    <h1> Dettagli del giornalista </h1>
    <h2> Nome: {{ giornalista.nome }} {{giornalista.cognome}} </h1>
    <h3> Anna di nascita: {{ giornalista.anno_di_nascita }} </h3>
    <h5> Tutti i suoi articoli e visualizzazioni </h5>
    {% for articolo in articoli %}
        <li> <a href={% url 'news:articolo_detail' articolo.id%}>{{articolo.titolo}}</a> -n: {{articolo.visualizzazioni}}</li>
    {% endfor %}
    <hr>
{% endblock content %}